<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--CCS backgroung color-->
  <style>
  body{
  background-color: black;
  }
  </style>
</head>

<!--main body-->
<body>
  <!--header needs to be on all pages-->
    <div class="container">
    <img class="img-responsive" src="MenTar-02.png" alt="Logo and Name" width="1110" height="380" >
    </div>
  </div>

<!-- CSS code for the header-->
  <style>
  .container {
    padding: 20px 20px;
    border-style: solid;
    border-width: 10px;
    border-color: #424242;
  }
  </style>

  <!--Navigation Bar-->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">MenTar</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="homepage.html">Home</a></li>

      <!-- drop down selection for Student-->
        <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Student <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="interviewtipsstudent.html">Interview Tips</a></li>
        <li><a href="alumniconnection.html">Alumni Connection</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
        </li>

      <!-- drop down selection for Student-->
        <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown"<a href="#">Alumni <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Post Interview Tips</a></li>
        <li><a href="#">Student Connection</a></li>
        <li><a href="#">PostCareers</a></li>
      </ul>
        </li>

      <!-- drop down selection for Student-->
        <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown"<a href="#">Faculty <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Post Interview Tips</a></li>
        <li><a href="#">Student Connection</a></li>
        <li><a href="#">PostCareers</a></li>
      </ul>
        </li>
        <li class="active"><a href="aboutus.html">About Us</a></li>
        <li class="active"><a href="contactus.html">Contact Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

      <!-- drop down selection for Student-->
        <li><form class="form-signin navbar-form">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email Address" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        </form>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

      <!-- Link to create profile-->
        <li><a href="createprofile.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      </ul>
    </div>
  </nav>
<br>
<br>
<!--Page heading-->
    <h2 style="text-align:center; color:white; font-size:300%">Create your profile</h2>
    <style>
      .col-sm-5{
        background-color: #BDBDBD;
      }
    </style>

  <!--sign up form  -->
  <div class="container">

    <!--Personal information section-->
    <h3 style="align:center; color:white">Personal Information</h3>
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2" style="color:#BDBDBD" for="firstname">First Name:</label>
        <div class="col-sm-5">
          <input type="firstname" class="form-control" id="firstname" placeholder="Enter first name">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" style="color:#BDBDBD" for="lastname">Last name:</label>
        <div class="col-sm-5">
          <input type="lastname" class="form-control" id="lastname" placeholder="Enter last name">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" style="color:#BDBDBD" for="email">Email:</label>
        <div class="col-sm-5">
          <input type="email" class="form-control" id="email" placeholder="Enter email address">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" style="color:#BDBDBD" for="username">User name:</label>
        <div class="col-sm-5">
          <input type="username" class="form-control" id="username" placeholder="Create user name">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" style="color:#BDBDBD" for="password">Password:</label>
        <div class="col-sm-5">
          <input type="password" class="form-control" id="password" placeholder="Create password">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" style="color:#BDBDBD" for="city">City:</label>
        <div class="col-sm-5">
          <input type="city" class="form-control" id="city" placeholder="Enter city">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" style="color:#BDBDBD" for="state">State:</label>
        <div class="col-sm-5">
          <input type="state" class="form-control" id="state" placeholder="Enter state">
        </div>
      </div>
      <div class="dropdown">
        <div class="form-group">
        <label class="control-label col-sm-2" style="color:#BDBDBD" for="profiletype">Profile Type:</label>
        <div class="col-sm-5">
          <input type="profiletype" class="form-control" id="profiletype" placeholder="Select profile type">
            <select class="form-control" id="profiletype">
              <option>Student</option>
              <option>Alumni</option>
              <option>Faculty</option>
            </select>
          </div>
        </div>
      </div>

        <!--Education information section-->
      <h3 style="align:center; color:white">Education Information</h3>
      <div class="dropdown">
        <div class="form-group">
        <label class="control-label col-sm-2" style="color:#BDBDBD" for="major">Major:</label>
        <div class="col-sm-5">
          <input type="major" class="form-control" id="major" placeholder="Select major">
          <select class="form-control" id="major">
              <option>African and African American Students</option>
              <option>American Studies</option>
              <option>Anthropology</option>
              <option>Archeology</option>
              <option>Art(Studio)</option>
              <option>Art History</option>
              <option>Asian Studies</option>
              <option>Australian Studies</option>
              <option>Biochemistry/Molecular Biology</option>
              <option>Biology</option>
              <option>Business(Management Concentration)</option>
              <option>Business(Social Entrepreneurship)</option>
              <option>Chemistry</option>
              <option>Classical Studies</option>
              <option>Communication Studies</option>
              <option>Computer Science</option>
              <option>Critical Media and Cultural Studies</option>
              <option>Cultural Anthropology</option>
              <option>Dance</option>
              <option>Economics</option>
              <option>Education(Elementary)</option>
              <option>Education(Secondary)</option>
              <option>English</option>
              <option>Environmental Studies</option>
              <option>Film Studies</option>
              <option>French</option>
              <option>German</option>
              <option>Global Health</option>
              <option>Healthcare Management</option>
              <option>History</option>
              <option>Humanities</option>
              <option>International Affairs</option>
              <option>International Business</option>
              <option>International Relations</option>
              <option>Jewish Studies</option>
              <option>Latin American and Caribbean Studies</option>
              <option>Marine Biology</option>
              <option>Mathmatics</option>
              <option>Middle Eastern and North African Studies</option>
              <option>Music</option>
              <option>Neuroscience</option>
              <option>Organizational Behavior</option>
              <option>Philosphy</option>
              <option>Physcis</option>
              <option>Political Science</option>
              <option>Psychology</option>
              <option>Public Policy and Political Economy</option>
              <option>Religious Studies</option>
              <option>Russian</option>
              <option>Sociology</option>
              <option>Spanish</option>
              <option>Sustainable Development and the Environment</option>
              <option>Theatre Arts</option>
              <option>Sexuality, Women's and Gender Studies</option>
              <option>Writing</option>
            </select>
          </div>
      </div>
    </div>
    <div class="dropdown">
      <div class="form-group">
      <label class="control-label col-sm-2" style="color:#BDBDBD" for="minor">Minor:</label>
      <div class="col-sm-5">
        <input type="minor" class="form-control" id="minor" placeholder="Select minor">
        <select class="form-control" id="minor">
            <option>African and African American Students</option>
            <option>American Studies</option>
            <option>Anthropology</option>
            <option>Archeology</option>
            <option>Art(Studio)</option>
            <option>Art History</option>
            <option>Asian Studies</option>
            <option>Australian Studies</option>
            <option>Biochemistry/Molecular Biology</option>
            <option>Biology</option>
            <option>Business(Management Concentration)</option>
            <option>Business(Social Entrepreneurship)</option>
            <option>Chemistry</option>
            <option>Classical Studies</option>
            <option>Communication Studies</option>
            <option>Computer Science</option>
            <option>Critical Media and Cultural Studies</option>
            <option>Cultural Anthropology</option>
            <option>Dance</option>
            <option>Economics</option>
            <option>Education(Elementary)</option>
            <option>Education(Secondary)</option>
            <option>English</option>
            <option>Environmental Studies</option>
            <option>Film Studies</option>
            <option>French</option>
            <option>German</option>
            <option>Global Health</option>
            <option>Healthcare Management</option>
            <option>History</option>
            <option>Humanities</option>
            <option>International Affairs</option>
            <option>International Business</option>
            <option>International Relations</option>
            <option>Jewish Studies</option>
            <option>Latin American and Caribbean Studies</option>
            <option>Marine Biology</option>
            <option>Mathmatics</option>
            <option>Middle Eastern and North African Studies</option>
            <option>Music</option>
            <option>Neuroscience</option>
            <option>Organizational Behavior</option>
            <option>Philosphy</option>
            <option>Physcis</option>
            <option>Political Science</option>
            <option>Psychology</option>
            <option>Public Policy and Political Economy</option>
            <option>Religious Studies</option>
            <option>Russian</option>
            <option>Sociology</option>
            <option>Spanish</option>
            <option>Sustainable Development and the Environment</option>
            <option>Theatre Arts</option>
            <option>Sexuality, Women's and Gender Studies</option>
            <option>Writing</option>
          </select>
        </div>
    </div>
  </div>
      <div class="form-group">
        <label class="control-label col-sm-2" style="color:#BDBDBD" for="graddate">Graduation date:</label>
        <div class="col-sm-5">
          <input type="graddate" class="form-control" id="graddate" placeholder="Enter graduation date">
        </div>
      </div>
      
        <!--Other information section-->
      <h3 style="align:center; color:white">Other Information</h3>
      <div class="form-group">
        <label class="control-label col-sm-2" style="color:#BDBDBD" for="profession">Profession:</label>
        <div class="col-sm-5">
          <input type="profession" class="form-control" id="profession" placeholder="Enter profession">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" style="color:#BDBDBD" for="interests">Interests:</label>
        <div class="col-sm-5">
          <input type="interests" class="form-control" id="interests" placeholder="Enter interests (seperated by a comma)">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" style="color:#BDBDBD" for="skills">Skills:</label>
        <div class="col-sm-5">
          <input type="skills" class="form-control" id="skills" placeholder="Enter skills (seperated by a comma)">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" style="color:#BDBDBD" for="aboutme">About me:</label>
        <div class="col-sm-5">
          <input type="aboutme" class="form-control" id="aboutme" placeholder="Enter about me">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" style="color:#BDBDBD" for="submit"></label>
          <button type="submit" class="control-button col-sm-5" style="background-color:#084B8A; color:#BDBDBD; align:center">
            Submit</button>
      </div>
    </form>
    <!--end of form-->
  </div>

  </body>
</html>
