<!DOCTYPE html>
<html lang="en">
<head>
  <title>Practice Questions</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--backgroung color-->
  <style>
  body{
  background-color: black;
  }
  </style>
</head>

<!--main body-->
<body>
  <!--header needs to be on all pages-->
  <div class="container">
    <img class="img-responsive" src="MenTar-02.png" alt="Logo and Name" width="1110" height="380" >
      <!--<p style="text-align:right; color:white">Making the transition easier!!</p>-->
    </div>
  </div>
<!-- CSS code for the header-->
  <style>
  .container {
    padding: 20px 20px;
    border-style: solid;
    border-width: 10px;
    border-color: #424242;
  }
  </style>

<style>
.navbar-header{
  background-color: #000000;
  color:#FFBF00;
}
</style>

  <!--Navigation Bar-->
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand redtext" href="#">MenTar</a>
    </div>
  <ul class="nav navbar-nav">
      <li class="active"><a href="homepage.html">Home</a></li>

      <!-- drop down selection for Student-->
      <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Student <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="interviewtipsstudent.html">Interview Tips</a></li>
          <li><a href="alumniconnection.html">Alumni Connection</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </li>

      <!-- drop down selection for Alumni-->
      <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown"<a href="#">Alumni <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Post Interview Tips</a></li>
            <li><a href="#">Student Connection</a></li>
            <li><a href="#">PostCareers</a></li>
          </ul>
      </li>

      <!-- drop down selection for Faculty-->
      <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown"<a href="#">Faculty <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Post Interview Tips</a></li>
            <li><a href="#">Student Connection</a></li>
            <li><a href="#">PostCareers</a></li>
          </ul>
      </li>
      <li class="active"><a href="aboutus.html">About Us</a></li>
      <li class="active"><a href="contactus.html">Contact Us</a></li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><form class="form-signin navbar-form">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email Address" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
          </form>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a href="createprofile.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    </ul>
  </div>
</nav>

  <!-- practice question list-->
  <div class="row">
    <h2 style="text-align:center; color:white; font-size:400%"> Interview Questions</h2>
    <br>
    <br>
      <div class="col-sm-6">
        <h3 style="color: white; font-size:300%">Choose a language!!</h3>
        <br>
        <ul class="menu-questions" style="text-align:left; color:#FFFFFF; font-size:200%">
          <li><a href="javaquestions.html"><img src="java.png" alt="Java Logo" style="width:15%"></a></li>
          <br>
          <li><a href="cquestions.html"><img src="clogo.png" alt="C Logo" style="width:15%"></a></li>
          <br>
          <li><a href="#"><img src="cplus.png" alt="C++ Logo" style="width:15%"></a></li>
          <br>
          <li><a href="#"><img src="csharplogo.jpg" alt="C Sharp Logo" style="width:20%"></a></li>
          <br>
          <li><a href="#"><img src="javascriptlogo.jpg" alt="JavaScript Logo" style="width:15%"></a></li>
          <br>
          <li><a href="#"><img src="python.png" alt="Python Logo" style="width:20%"></a></li>
          <br>
          <li><a href="#"><img src="mysql.png" alt="SQL Logo" style="width:20%"></a></li>
          <br>
          <li><a href="#"><img src="phplogo.png" alt="PHP Logo" style="width:20%"></a></li>
          <br>
          <li><a href="#"><img src="rubylogo.jpg" alt="Ruby Logo" style="width:15%"></a></li>
          <br>
          <li><a href="#"><img src="verbal.jpg" alt="Verbal Logo" style="width:20%"></a></li>
        </ul>
      </div>


        <div class="col-sm-4">
          <img src="whiteboard-interview.png" class="img-rounded" alt="whiteboard interview" width="700" height="550">
      </div>
    </div>

</body>
<html>
