<!DOCTYPE html>

<html lang="en">
<head>
  <title>About Us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--backgroun color-->
  <style>
  body{
  background-color: black;
  }
  </style>
</head>

<!--main body-->
<body>
  <!--header needs to be on all pages-->
  <div class="container">
    <img class="img-responsive" src="static/MenTar-02.png" alt="Logo and Name" width="1110" height="380" >
      <!--<p style="text-align:right; color:white">Making the transition easier!!</p>-->
    </div>
  </div>
<!-- CSS code for the header-->
  <style>
  .container {
    padding: 20px 20px;
    border-style: solid;
    border-width: 10px;
    border-color: #424242;
  }
  </style>

<style>
.navbar-header{
  background-color: #000000;
  color:#FFBF00;
}
</style>

  <!--Navigation Bar-->
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" href="#">MenTar</a>
  </div>
  <ul class="nav navbar-nav">
      <li class="active"><a href="/homepage">Home</a></li>

    <!-- drop down selection for Student-->
      <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Student <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/interviewtipsstudent">Interview Tips</a></li>
          <li><a href="/alumniconnection">Alumni Connection</a></li>
          <li><a href="/careeropportunities">Career Center</a></li>
        </ul>
      </li>

    <!-- drop down selection for Alumni-->
      <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown"<a href="#">Alumni <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/alumnipostquestion">Post Interview Tips</a></li>
            <li><a href="/studentconnection">Student Connection</a></li>
            <li><a href="/alumnijobpost">Post Careers</a></li>
          </ul>
      </li>

    <!-- drop down selection for Faculty-->
      <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown"<a href="#">Faculty <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/underconstruction">Post Interview Tips</a></li>
            <li><a href="/underconstruction">Student Connection</a></li>
            <li><a href="/underconstruction">Post Careers</a></li>
          </ul>
      </li>
      <li class="active"><a href="/aboutus">About Us</a></li>
      <li class="active"><a href="/contactus">Contact Us</a></li>
    </ul>

    <!--Displays the user name and sign out button -->
      <ul class="nav navbar-nav navbar-right">

       <li><a href="/profilepage"><span class="glyphicon glyphicon-user"></span> Welcome {{ name[0] }}</a></li>
		<li><a href="/profilepage"></span> Profile type {{ profile[0] }}</a></li>
      <li><a href="/signinpage"><span class="glyphicon glyphicon-user"></span> Sign Out </a></li>
    </ul>
  </div>
</nav>

  <style>
  .container-interview {
    padding: 40px 40px;
    color: white;
  }
  </style>


<!--CSS code for text on forms-->
  <style>
   .form-label{
    color: black;
  }
  </style>

  <style>
  .form-group {
    padding: 40px 40px;
    color: white;
  }
  </style>

<!-- Post a question box -->
  <div class="form-group">
    <label for="comment" style="font-size:45px">Post a tip!:</label>

	<!--Reference the class from views.py to interact with the database and store the information-->
    <form action="/alumnipostquestion" method="post">

	{{ forms.hidden_tag() }}

		<!--Use flask framework to create the text field-->
		{{forms.tip(class="form-label", cols="150", rows="6")}}

		<!--If there are any errors they should be raised-->
		{% for message in forms.tip.errors %}
			{{message}}
		{% endfor %}

		<br>
		<br>
      <button type="submit" class="btn btn-success">Submit</button>

    </form>
</div>

<div class="container-interview">

  <form action="" method="get">

	<!--Use the flask framework to retrieve data from the database-->
	{% for row in items %}
		<li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ row[0] }}</a></li>
	{% endfor %}
  </form>
</div>

</body>
</html>
