<!DOCTYPE html>
<html lang="en">

<!--Bootstrap-->
<head>
  <title>Create Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--CCS background color-->
  <style>
  body{
  background-color: black;
  }
  </style>
</head>

<!--main body-->
<body>
  <!--header needs to be on all pages-->
    <div class="container">
    <img class="img-responsive" src="static/MenTar-02.png" alt="Logo and Name" width="1110" height="380" >
    </div>
  </div>

<!-- CSS code for the header-->
  <style>
  .container {
    padding: 20px 20px;
    border-style: solid;
    border-width: 10px;
    border-color: #424242;
  }
  </style>

<br>
<br>

<!--Page heading-->
    <h2 style="text-align:center; color:white; font-size:300%">Create your profile</h2>

   <!--CSS code for sign up form-->
   <style>
   .container{
	 text-align:left;
   }
   </style>
   <style>
   .form-group{
	   text-align:left;
     color: white;
     padding: 5px 5px 5px 5px;
   }
   </style>

   <!--CSS code for text on forms-->
   <style>
   .form-label{
    color: black;
   }
   </style>

   <!--CSS for picture-->
   <style>
   .col-sm-6{
	 padding: 100px 100px 100px 150px;
   }
   </style>

   <div class="col-sm-6"><img src="static/fox.jpg" class="img-rounded" alt="fox Picture" width="350" height="400">
 </div>

  <!--sign up form  -->
  <div class="container">
  
    <!--Personal information section-->
    <h3 style="align:left; color:white">Personal Information</h3>
    <form action="/createprofile" method = "POST" class="form-horizontal">
		{{ forms.hidden_tag() }}
		<fieldset>

    <!--First Name Form-->
    <div class="form-group">
		<div class="col-sm-10">
		{{forms.firstname(class='form-label')}}
    {{forms.firstname.label}}

		{% for message in forms.firstname.errors %}
			{{message}}
			{% endfor %}
      </div>
      </div>

      <!--Last Name Form-->
      <div class="form-group">
        <div class="col-sm-10">
			{{forms.lastname(class='form-label')}}
      {{forms.lastname.label}}
			{% for message in forms.lastname.errors %}
			{{message}}
			{% endfor %}
      </div>
      </div>

      <!--Age From-->
      <div class="form-group">
        <div class="col-sm-10">
			{{forms.age(class='form-label')}}
      {{forms.age.label}}
			{% for message in forms.age.errors %}
			{{message}}
			{% endfor %}
      </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
			{{forms.email(class='form-label') }}
      {{forms.email.label}}
			{% for message in forms.email.errors %}
			{{message}}
			{% endfor %}
      </div>
      </div>
    
      <!--Username Form-->  
      <div class="form-group">
        <div class="col-sm-10">
      {{forms.username(class='form-label')}}
			{{forms.username.label}}
			{% for message in forms.username.errors %}
			{{message}}
			{% endfor %}
      </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
			{{forms.password(class='form-label')}}
      {{forms.password.label}}
			{% for message in forms.password.errors %}
			<div style="color = red">
			{{message}}
			</div>

			{% endfor %}

      </div>
      </div>

      <!--Phonenumber From-->
      <div class="form-group">
      <div class="col-sm-10">
			{{forms.phonenumber(class='form-label')}}
      {{forms.phonenumber.label}}
			{% for message in forms.phonenumber.errors %}
			<div style="color = red">
			{{message}}
			</div>

			{% endfor %}
      </div>
      </div>

      <!--City Form-->  
      <div class="form-group">
      <div class="col-sm-10">
			{{forms.city(class='form-label')}}
      {{forms.city.label}}
			{% for message in forms.city.errors %}
			{{message}}
			{% endfor %}

      </div>
      </div>

      <!--State From-->
      <div class="form-group">
      <div class="col-sm-10">
			{{forms.state(class='form-label')}}
      {{forms.state.label}}
			{% for message in forms.state.errors %}
			{{message}}
			{% endfor %}
      </div>
      </div>

      <!--Profile Type Dropdown Menu-->
      <div class="dropdown">
      <div class="form-group">
      <div class="col-sm-10">
		    {{forms.profiletype(class='form-label')  }}
        {{forms.profiletype.label}}
			  {% for message in forms.profiletype.errors %}
			  {{message}}
			  {% endfor %}
          <!--<input type="profiletype" class="form-control" id="profiletype" placeholder="Select profile type">-->
            <!--<select class="form-control" id="profiletype">
              <option>Student</option>
              <option>Alumni</option>
              <option>Faculty</option>
            </select>-->
          </div>
        </div>
      </div>

        <!--Education information section-->
      <h3 style="align:left; color:white">Education Information</h3>
      <div class="dropdown">

        <!--Major Dropdown Menu-->
        <div class="form-group">
        <div class="col-sm-10">
			{{forms.major(class='form-label')}}
			{{forms.major.label}}

			{% for message in forms.major.errors %}
			{{message}}
			{% endfor %}


          </div>
      </div>
    </div>

    <div class="dropdown">

      <!--Minor Dropdown Menu-->
      <div class="form-group">
      <div class="col-sm-10">
		  {{forms.minor(class='form-label')}}
		  {{forms.minor.label}}

		  {% for message in forms.minor.errors %}
		  {{message}}
		  {% endfor %}

     

        </div>
    </div>
  </div>

      <!--Graduation Date From-->    
      <div class="form-group">
        <div class="col-sm-10">
      {{forms.graddate(class='form-label')}}
			{{forms.graddate.label}}

			{% for message in forms.graddate.errors %}
			{{message}}
			{% endfor %}

        </div>
      </div>

        <!--Other information section-->
      <h3 style="align:left; color:white">Other Information</h3>

      <!--Profession Form-->
      <div class="form-group">
        <div class="col-sm-10">
          <input type="profession" class="form-control" id="profession" placeholder="Enter profession">
        </div>
      </div>

      <!--Interests Form-->
      <div class="form-group">
        <div class="col-sm-10">
          <input type="interests" class="form-control" id="interests" placeholder="Enter interests (seperated by a comma)">
        </div>
      </div>

      <!--Skills From-->    
      <div class="form-group">
        <div class="col-sm-10">
          <input type="skills" class="form-control" id="skills" placeholder="Enter skills (seperated by a comma)">
        </div>
      </div>

      <!--About Me From-->
      <div class="form-group">
        <div class="col-sm-10">
          <input type="aboutme" class="form-control" id="aboutme" placeholder="Enter about me">
        </div>
      </div>

      <!--Submit Button-->
      <div class="form-group">
        <!--<button type="submit" class="control-button col-sm-5" style="background-color:#084B8A; color:#BDBDBD; align:center">-->
            {{ forms.submit(class="form-label") }}
            Submit</button>
      </div>
      </fieldset>
    </form>
    <!--end of form-->

  </div>

  </body>
</html>
