<!DOCTYPE html>

<html lang="en">

<!-Bootstrap -->
<head>
  <title>About Us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--background color-->
  <style>
  body{
  background-color: black;
  }
  </style>
</head>

<!--main body-->
<body>
  <!--header needs to be on all pages-->
  <div class="container">
    <img class="img-responsive" src="static/MenTar-02.png" alt="Logo and Name" width="1110" height="380" >
      <!--<p style="text-align:right; color:white">Making the transition easier!!</p>-->
    </div>
  </div>
  
<!-- CSS code for the header-->
  <style>
  .container {
    padding: 20px 20px;
    border-style: solid;
    border-width: 10px;
    border-color: #424242;
  }
  </style>

<style>
.navbar-header{
  background-color: #000000;
  color:#FFBF00;
}
</style>

  <!--Navigation Bar-->
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" href="#">MenTar</a>
  </div>
  <ul class="nav navbar-nav">
      <li class="active"><a href="/homepage">Home</a></li>

    <!-- drop down selection for Student-->
      <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Student <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/interviewtipsstudent">Interview Tips</a></li>
          <li><a href="/alumniconnection">Alumni Connection</a></li>
          <li><a href="/careeropportunities">Careers</a></li>
        </ul>
      </li>

    <!-- drop down selection for Alumni-->
      <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown"<a href="#">Alumni <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/alumnipostquestion">Post Interview Tips</a></li>
            <li><a href="/studentconnection">Student Connection</a></li>
            <li><a href="/alumnijobpost">PostCareers</a></li>
          </ul>
      </li>

    <!-- drop down selection for Faculty-->
      <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown"<a href="#">Faculty <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/underconstruction">Post Interview Tips</a></li>
            <li><a href="/underconstruction">Student Connection</a></li>
            <li><a href="/underconstruction">PostCareers</a></li>
          </ul>
      </li>
      <li class="active"><a href="/aboutus">About Us</a></li>
      <li class="active"><a href="/contactus">Contact Us</a></li>
    </ul>

    <!--Displays the user name and sign out button -->
      <ul class="nav navbar-nav navbar-right">
       <li><a href="/profilepage"><span class="glyphicon glyphicon-user"></span> Welcome {{ items[0] }}</a></li>
      <li><a href="/signinpage"><span class="glyphicon glyphicon-user"></span> Sign Out </a></li>
    </ul>
  </div>
</nav>

<!--Slide show of photos-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<ol class="carousel-indicators">
  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  <li data-target="#myCarousel" data-slide-to="1" ></li>
  <li data-target="#myCarousel" data-slide-to="2" ></li>
  <li data-target="#myCarousel" data-slide-to="3"></li>
  <li data-target="#myCarousel" data-slide-to="4"></li>
  <li data-target="#myCarousel" data-slide-to="5"></li>
  <li data-target="#myCarousel" data-slide-to="6"></li>
  <li data-target="#myCarousel" data-slide-to="7"></li>
  <li data-target="#myCarousel" data-slide-to="8"></li>
  <li data-target="#myCarousel" data-slide-to="9"></li>
  <li data-target="#myCarousel" data-slide-to="10"></li>
  <li data-target="#myCarousel" data-slide-to="11"></li>
  <li data-target="#myCarousel" data-slide-to="12"></li>
</ol>

<!-- Wrapper for photo slides -->
<div class="carousel-inner" role="listbox">
  <!--<div class="item active">
    <img src="static/orlandohall.jpg" alt="Orlando Hall" width=500 height=300>
    <div class="carousel-caption">
      <h3>Orlando Hall</h3>
      <p>Home to English majors</p>
    </div>
  </div>-->
  <div class="item active">
        <img src="static/flagchurch.png" alt="Church and American Flag" width=450 height=500>
        <div class="carousel-caption">
          <h3>Church and American flag</h3>
          <p>A stormy night captured perfectly.</p>
        </div>
      </div>

  <div class="item">
        <img src="static/lake1.jpg" alt="Lake" width=500 height=500>
        <div class="carousel-caption">
          <h3>Lake Virginia</h3>
          <p>A fun place for water sports</p>
        </div>
      </div>

  <div class="item">
        <img src="static/smallpool.jpg" alt="Smaller Swimming Pool" width=300 height=500>
        <div class="carousel-caption">
          <h3>Smaller Swimming Pool</h3>
          <p>The smaller of two pools on campus</p>
        </div>
  </div>

  <div class="item">
        <img src="static/sidetheater.jpg" alt="Side of theater" width=300 height=500>
        <div class="carousel-caption">
          <h3>Side of Theater</h3>
          <p>The theater department puts on amazing shows</p>
        </div>
  </div>

  <div class="item">
        <img src="static/history1.jpg" alt="." width=500 height=500>
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
  </div>

  <div class="item">
        <img src="static/history2.jpg" alt="." width=500 height=500>
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
  </div>

  <div class="item">
        <img src="static/history3.jpg" alt="." width=500 height=500>
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
  </div>

  <div class="item">
        <img src="static/history4.jpg" alt="." width=500 height=500>
        <div class="carousel-caption">
          <h3>.</h3>
          <p>.</p>
        </div>
  </div>

  <div class="item">
        <img src="static/history5.jpg" alt="." width=500 height=500>
        <div class="carousel-caption">
          <h3>.</h3>
          <p>.</p>
        </div>
  </div>

  <div class="item">
        <img src="static/history6.jpg" alt="." width=500 height=500>
        <div class="carousel-caption">
          <h3>.</h3>
          <p>.</p>
        </div>
  </div>

  <div class="item">
        <img src="static/history7.jpg" alt="." width=500 height=500>
        <div class="carousel-caption">
          <h3>.</h3>
          <p>.</p>
        </div>
  </div>

  <div class="item">
        <img src="static/history8.jpg" alt="." width=500 height=500>
        <div class="carousel-caption">
          <h3>.</h3>
          <p>.</p>
        </div>
  </div>

</div>

      <!-- Left and right controls -->
       <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
       </a>
       <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
         <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
         <span class="sr-only">Next</span>
       </a>
     </div>

     <!--CSS Carousel features-->
     <style>
     .carousel-inner img {
         margin: auto;
     }
     .carousel-caption h3 {
         color: #fff !important;
     }
     @media (max-width: 600px) {
         .carousel-caption {
             display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
         }
     }
     </style>

     <style>
      .container{
        text-align: center;
      }
     </style>

     <!-Rollins Mission Statement-->
     <div class="container">
       <h2 style="color:white">Rollins College Mission Statement</h2>
       <p style="color:white; font-size:20px">"Rollins College educates students for global citizenship and responsible leadership,
         empowering graduates to pursue meaningful lives and productive careers.
         We are committed to the liberal arts ethos and guided by its values and ideals. Our guiding principles are
         excellence, innovation, and community.
         <br>
         <br>
         Rollins is a comprehensive liberal arts college. Rollins is nationally recognized for its distinctive
         undergraduate and selected graduate programs. We provide opportunities to explore diverse intellectual,
         spiritual, and aesthetic traditions. We are dedicated to scholarship, academic achievement, creative
         accomplishment, cultural enrichment, social responsibility, and environmental stewardship. We value excellence
         in teaching and rigorous, transformative education in a healthy, responsive, and inclusive environment."
         <br>
         <br>
         Approved by the Board of Trustees, May 9, 2014
         <br>
         <br>

         Here at MenTar our goal is to follow the mission of the college and help guide you throught the transition from
         college to the work place.
         <br>
         This site will allow you as a student to find guidence when searching for your future employment. When you get that
         that interview, we will be there with some useful tips from Alumni and frequently asked interview questions.
         <br>
         <br>
         As Alumni the site will allow you to post career oopportunities available.  It will allow you to give interview advice
         to students ready for the workplace.
        <br>
        <br>

        <h2 style="color:white">Good luck to you all - The MenTar Team</h2>

    </div>
  </body>

  </html>
