<!DOCTYPE html>
<html lang="en">
<head>
  <title>Post a question</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--backgroung color-->
  <style>
  body{
  background-color: black;
  }
  </style>
</head>

<!--main body-->
<body>

  <!--header needs to be on all pages-->
  <div class="container">
    <img class="img-responsive" src="static/MenTar-02.png" alt="Logo and Name" width="1110" height="380" >
      <!--<p style="text-align:right; color:white">Making the transition easier!!</p>-->
    </div>
  </div>

<!-- CSS code for the header-->
  <style>
  .container {
    padding: 20px 20px;
    border-style: solid;
    border-width: 10px;
    border-color: #424242;
  }
  </style>

<style>
.navbar-header{
  background-color: #000000;
  color:#FFBF00;
}
</style>

  <!--Navigation Bar needs to be on all pages-->
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand redtext" href="#">MenTar</a>
    </div>
  <ul class="nav navbar-nav">
      <li class="active"><a href="/homepage">Home</a></li>

    <!-- drop down selection for Student-->
      <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Student <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/interviewtipsstudent">Interview Tips</a></li>
          <li><a href="/alumniconnection">Alumni Connection</a></li>
          <li><a href="/careeropportunities">Careers</a></li>
        </ul>
      </li>

    <!-- drop down selection for Alumni-->
      <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown"<a href="#">Alumni <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/alumnipostquestion">Post Interview Tips</a></li>
            <li><a href="/studentconnection">Student Connection</a></li>
            <li><a href="/careeropportunities">PostCareers</a></li>
          </ul>
      </li>

    <!-- drop down selection for Faculty-->
      <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown"<a href="#">Faculty <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Post Interview Tips</a></li>
            <li><a href="#">Student Connection</a></li>
            <li><a href="#">PostCareers</a></li>
          </ul>
      </li>
      <li class="active"><a href="/aboutus">About Us</a></li>
      <li class="active"><a href="/contactus">Contact Us</a></li>
    </ul>
    <!--Email address, password box plus login and sign up -->
      <ul class="nav navbar-nav navbar-right">
        <li><form class="form-signin navbar-form">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email Address" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
          </form>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a href="/createprofile"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    </ul>
  </div>
</nav>
<!-- List of choices for interview tips page-->

<style>
.container-interview {
  padding: 40px 40px;
  color: white;
}
</style>

<!--CSS code for text on forms-->
<style>
  .form-label{
  color: black;
}
</style>

      <style type="text/css">
		  
		  #wrap {
			  width:600px;
			  margin:0 auto;
			  }
		  #left_col {
			  float:left;
			  width:300px;
			  }
		  #right_col {
			  float:right;
			  width:300px;
			  }
			  
		</style>
		
<style>
   .form-label{
    color: black;
}

</style>
<!-- Post a question box -->
<div class="container-interview">
  <h2>Ask a question</h2>
  <p>Post your question/comments here!!</p>
  <form action="/postaquestion" method="post">
    <div class="form-group">
      <!--<label for="comment">Comment:</label>
      <textarea class="form-control" rows="10" id="comment"></textarea>-->
      
<!--dam, livs-->
	
      
      	  {{ forms.hidden_tag() }}

		
            {{forms.question(class="form-label", cols="200", rows="15")}}

			{% for message in forms.question.errors %}
			{{message}}
			{% endfor %}
			
			
    
	
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div class="container-interview">

  <form action="" method="get">


				{% for q in question  %}

			<li><a href="#"></span> {{ q[0] }}</a></li>
			{% endfor %}


  </form>
</div>

</body>
</html>
