<!DOCTYPE html>
<html lang="en">
<head>
  <title>Practice question biology</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--background color-->
  <style>
  body{
  background-color: black;
  }
  </style>
</head>

<!--main body-->
<body>
  <!--header needs to be on all pages-->
  <div class="container">
    <img class="img-responsive" src="static/MenTar-02.png" alt="Logo and Name" width="1110" height="380" >
      <!--<p style="text-align:right; color:white">Making the transition easier!!</p>-->
    </div>
  </div>

<!-- CSS code for the header-->
  <style>
  .container {
    padding: 20px 20px;
    border-style: solid;
    border-width: 10px;
    border-color: #424242;
  }
  </style>
<!-- CSS code for the nav bar -->
<style>
.navbar-header{
  background-color: #000000;
  color:#FFBF00;
}
</style>

  <!--Navigation Bar-->
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand redtext" href="#">MenTar</a>
    </div>

  <!-- drop down selection for Student-->
  <ul class="nav navbar-nav">
      <li class="active"><a href="/homepage">Home</a></li>
      <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Student <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/interviewtipsstudent">Interview Tips</a></li>
          <li><a href="/alumniconnection">Alumni Connection</a></li>
          <li><a href="/careeropportunities">Careers</a></li>
        </ul>
      </li>

    <!-- drop down selection for Alumni-->
      <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown"<a href="#">Alumni <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/alumnipostquestion">Post Interview Tips</a></li>
            <li><a href="/studentconnection">Student Connection</a></li>
            <li><a href="/careeropportunities">PostCareers</a></li>
          </ul>
      </li>

    <!-- drop down selection for Faculty-->
      <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown"<a href="#">Faculty <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Post Interview Tips</a></li>
            <li><a href="#">Student Connection</a></li>
            <li><a href="#">PostCareers</a></li>
          </ul>
      </li>
      <li class="active"><a href="/aboutus">About Us</a></li>
      <li class="active"><a href="/contactus">Contact Us</a></li>
    </ul>

    <!-- Section to log in-->
      <ul class="nav navbar-nav navbar-right">
        <li><form class="form-signin navbar-form">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email Address" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
          </form>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

      <!-- Link to create profile-->
      <li><a href="/createprofile"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    </ul>
  </div>
</nav>

<!--css code for list-->
<style>
.row{
  padding-left: 50px;
  padding-right:50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
</style>

<!--css code for links-->
<style>
.link-color{
  color:#F3EC42;
}
</style>

<div class="row">
    <h2 style="text-align:center; color:white; font-size:400%"> Interview Questions</h2>
 <br>
 <br>
   <div class="col-sm-6">
     <!--Language type header-->
     <h3 style="color: white; font-size:300%">Biology Questions</h3>
     <br>
     <!--Questions for specific language-->
     <ul class="menu-questions" style="text-align:left; color:#FFFFFF; font-size:200%">
       <li><a href="#java1" data-toggle="collapse" class="link-color">Under Construction</a></li>
       <div id="java1" class="collapse">
       <p> @@@@@@@@@@@@@@@@@ANSWER@@@@@@@@@@@@@@@@@@@
       </p></div>
      <li class="active"><a href="/interviewtipsstudent" class="link-color">Back to interview tips</a></li> 
    </div>
   </div>

</body>
<html>
