<!DOCTYPE html>
 <html lang="en">
 <head>
   <title>Ruby Questions</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 <!--backgroung color-->
   <style>
   body{
   background-color: black;
   }
   </style>
 </head>

 <!--main body-->
 <body>
   <!--header needs to be on all pages-->
   <div class="container">     <img class="img-responsive" src="static/MenTar-02.png" alt="Logo and Name" width="1110" height="380" >
      <!--<p style="text-align:right; color:white">Making the transition easier!!</p>-->
     </div>
   </div>
 <!-- CSS code for the header-->
   <style>
  .container {
     padding: 20px 20px;
     border-style: solid;
     border-width: 10px;
     border-color: #424242;
   }
   </style>

 <!-- CSS code for the navbar header-->
  <style>
  .navbar-header{
   background-color: #000000;
   color:#FFBF00;
  }
  </style>

  <!--Navigation Bar-->
  <nav class="navbar navbar-inverse">
   <div class="container-fluid">
     <div class="navbar-header">
     <a class="navbar-brand redtext" href="#">MenTar</a>
     </div>
   <ul class="nav navbar-nav">
       <li class="active"><a href="/homepage">Home</a></li>
       <!-- drop down selection for Student-->
       <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Student <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li><a href="/interviewtipsstudent">Interview Tips</a></li>
           <li><a href="/alumniconnection">Alumni Connection</a></li>
           <li><a href="/careeropportunities">Careers</a></li>
         </ul>
       </li>
       <!-- drop down selection for Alumni-->
       <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown"<a href="#">Alumni <span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li><a href="/alumnipostquestion">Post Interview Tips</a></li>
             <li><a href="/studentconnection">Student Connection</a></li>
             <li><a href="/careeropportunities">PostCareers</a></li>
           </ul>
       </li>
       <!-- drop down selection for Faculty-->
       <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown"<a href="#">Faculty <span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li><a href="#">Post Interview Tips</a></li>
             <li><a href="#">Student Connection</a></li>
             <li><a href="#">PostCareers</a></li>
           </ul>
       </li>
       <!-- to read about the team or contact the team-->
       <li class="active"><a href="/aboutus">About Us</a></li>
       <li class="active"><a href="/contactus">Contact Us</a></li>
     </ul>
       <ul class="nav navbar-nav navbar-right">
         <!--Email address, password box plus login and sign up -->
         <li><form class="form-signin navbar-form">
           <label for="inputEmail" class="sr-only">Email address</label>
           <input type="email" id="inputEmail" class="form-control" placeholder="Email Address" required autofocus>
           <label for="inputPassword" class="sr-only">Password</label>
           <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
           </form>
         </li>
         <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
       <li><a href="/createprofile"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
     </ul>
   </div>
 </nav>
 <div class="row">
     <h2 style="text-align:center; color:white; font-size:400%"> Interview Questions</h2>
  <br>
  <br>
    <div class="col-sm-6">
      <!--Language type header-->
      <h3 style="color: white; font-size:300%">Ruby Practice Questions</h3>
      <br>
      <!--Questions for specific language-->
      <ul class="menu-questions" style="text-align:left; color:#FFFFFF; font-size:200%">
        <li><a href="#java1" data-toggle="collapse">What is the most convenient hashing method to be used to hash passwords??</a></li>
        <div id="java1" class="collapse">
        <p> It is preferable to use crypt() which natively supports several
          hashing algorithms or the function hash() which supports more
          variants than crypt() rather than using the common hashing algorithms
          such as md5, sha1 or sha256 because they are conceived to be fast.
          Hence, hashing passwords with these algorithms can vulnerability.
        </p></div>


         <li><a href="#java2" data-toggle="collapse">Explain what is ORM (Object-Relationship-Model) in Rails?</a></li>
         <div id="java2" class="collapse">
         <p>ORM or Object Relationship Model in Rails indicate that your classes
           are mapped to the table in the database, and objects are directly
           mapped to the rows in the table.
         </p></div>


        <li><a href="#java3" data-toggle="collapse">What is Rails Migration?</a></li>
         <div id="java3" class="collapse">
        <p>Rails Migration enables Ruby to make changes to the database schema,
           making it possible to use a version control system to leave things
           synchronized with the actual code.
        </p></div>
        <br>
        <li class="active"><a href="/interviewtipsstudent">Back to interview tips</a></li> 
       </ul>
    </div>
    <!--Language type logo-->
      <div class="col-sm-6"><img src="static/rubylogo.jpg" class="img-rounded" alt="Ruby logo" width="600" height="450">
    </div>
  </div>
 </body/>
</html>
