<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sign In</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--background color-->
  <style>
  body{
  background-color: black;
  }
  </style>
</head>

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">

<!--main body-->
<body>

  <!--header needs to be on all pages-->
  <div class="container">
    <img class="static/img-responsive" src="static/MenTar-02.png" alt="Logo and Name" width="1110" height="380" >

    </div>
  </div>

<!-- CSS code for the header-->
  <style>
  .container {
    padding: 20px 20px;
    border-style: solid;
    border-width: 10px;
    border-color: #424242;
  }
  </style>

  <style>
  .navbar-header{
    background-color: #000000;
    color:#FFBF00;
  }
  </style>

<!--Code for history blurb-->
  <div class="container">

    <h1 style="text-align:center; color:white; font-size:525%"> Welcome to MenTar </h1>

    <h2 style="text-align:left; color:white; font-size:275%">Rollins History</h1>

      <p style="color:white; text-align:center; font-size:20px">One afternoon in 1880, Lucy Cross had
      a vision: a college in Central Florida. Five years later, Rollins became
      the first college in the area, and is now the oldest recognized college in
      the state.
      <br>
      Since that day over a hundred years ago when Cross transformed her vision
      into a reality, we have aspired to empower our students to see a vision of how
      the world could be and to provide them with the tools to effect the change
      they envision.</p>

      <br>
      <img src='static/history1.jpg' align=left width=300 height=200 display=inline padding=50px hspace=8 vspace=8>
      <br>
      <p style="color:white; text-align:center; font-size:20px">Continuing on the theme of advancing
      education, the college’s eighth president, Hamilton Holt, created the Rollins
      College Conference Plan. This plan emphasized close teacher-student scholarship
      and conversational-style class structure.</p>
      <br>
      <p style="color:white; text-align:center; font-size:20px">Also in 1927, the Animated Magazine
      speaker series was established. Annually, leading scholars, thought leaders,
      and artists engaged and shared ideas with the Rollins community.
      <br>
      Today, the Winter Park Institute continues to bring in leaders of our time
      for Rollins College as well as the Winter Park Community.</p>
      <br>
      <p style="color:white; text-align:center; font-size:20px">In 1932, The Annie Russell theatre
      was dedicated, as well as the KnowlesMemorial Chapel. Its first show starred Annie Russell herself.
      <br>
      <img src='static/history5.jpg' align=right width=300 height=200 display=inline hspace=8 vspace=8>
      <br>
      In 1952, Rollins’ own radio station, WPRK, was launched. Like other forms
      of student media such as The Sandspur, WPRK has continued its success today.
      <br>

      <br>
      The Student-Faculty Collaborative Scholarship Program was launched in 1999
      as a way for students and faculty to perform graduate-level research and
      further close ties between the student and the professor.</p>
      <br>
      <p style="color:white; text-align:center; font-size:20px">Since 2005, the U.S. News & World
      Report ranks Rollins #1 in the South and his been ranked highly since then.
      <br>
      Are you ready to continue its history?</p>
      <br>

    <!--Code for Signin and create profile boxes-->
		<h1 style="text-align:center; color:white; font-size:300%"> Sign in</h1>
		  <br>
		<form action="" method="post">
			<input type="text" placeholder="Username" name="username" value="{{ request.form.username }}">
			<br>
			<br>
			<input type="password" placeholder="Password" name="password" value="{{ request.form.password }}">
			<br>
			<br>
			<input class="btn btn-default" type="submit" value="Login">
		</form>
			{% if error %}
				<p class="error"><strong>ERROR:</strong></p> {{ error }}
			{% endif %}
      <br>
    <h3 style="text-align:center; color:white; font-size:200%"> or</h3>
    <a  href="/createprofile"<h1 style="text-align:center; color:white; font-size:300%"> Sign Up</h1></a>

      <br>
      <br>
		</div>

<!--CSS Code for sign in boxes-->
  <style>
    .container{
	   paddin:50px 50px;
	    font-color:white;
	     text-align:center;
         margin:auto;
         display:block
    }
  </style>
</html>
