<!DOCTYPE html>
 <html lang="en">
 <head>
   <title>SQL Questions</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 <!--background color-->
   <style>
   body{
   background-color: black;
   }
   </style>
 </head>

 <!--main body-->
 <body>
   <!--header needs to be on all pages-->
   <div class="container">     <img class="img-responsive" src="static/MenTar-02.png" alt="Logo and Name" width="1110" height="380" >
      <!--<p style="text-align:right; color:white">Making the transition easier!!</p>-->
     </div>
   </div>
 <!-- CSS code for the header-->
   <style>
  .container {
     padding: 20px 20px;
     border-style: solid;
     border-width: 10px;
     border-color: #424242;
   }
   </style>

 <!-- CSS code for the navbar header-->
  <style>
  .navbar-header{
   background-color: #000000;
   color:#FFBF00;
  }
  </style>


  <!--Navigation Bar-->
  <nav class="navbar navbar-inverse">
   <div class="container-fluid">
     <div class="navbar-header">
     <a class="navbar-brand redtext" href="#">MenTar</a>
     </div>
   <ul class="nav navbar-nav">
       <li class="active"><a href="/homepage">Home</a></li>
       <!-- drop down selection for Student-->
       <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Student <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li><a href="/interviewtipsstudent">Interview Tips</a></li>
           <li><a href="/alumniconnection">Alumni Connection</a></li>
           <li><a href="/careeropportunities">Career Center</a></li>
         </ul>
       </li>
       <!-- drop down selection for Alumni-->
       <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown"<a href="#">Alumni <span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li><a href="/alumnipostquestion">Post Interview Tips</a></li>
             <li><a href="/studentconnection">Student Connection</a></li>
             <li><a href="/careeropportunities">Post Careers</a></li>
           </ul>
       </li>
       <!-- drop down selection for Faculty-->
       <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown"<a href="#">Faculty <span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li><a href="#">Post Interview Tips</a></li>
             <li><a href="#">Student Connection</a></li>
             <li><a href="#">Post Careers</a></li>
           </ul>
       </li>
       <!-- to read about the team or contact the team-->
       <li class="active"><a href="/aboutus">About Us</a></li>
       <li class="active"><a href="/contactus">Contact Us</a></li>
     </ul>

     <!-- Code for buttons to appear to the far right of the nav bar-->
     <ul class="nav navbar-nav navbar-right">
      <!--Text to display the users name-->
       <li><a href="/profilepage"><span class="glyphicon glyphicon-user"></span> Welcome {{ name[0] }}</a></li>
       <!--Text to display the profile type-->
       <li><a href="/postaquestion"></span>  {{profile[0] }}</a></li>
       <!-- Link to Sign out-->
       <li><a href="/signinpage"><span class="glyphicon glyphicon-user"></span> Sign Out</a></li>
      </ul>

     </div>
   </nav>

<!--CSS Code for links-->
<style>
.link-color{
  color:#F3EC42;
}
</style>

 <div class="row">
     <h2 style="text-align:center; color:white; font-size:400%"> Interview Questions</h2>
  <br>
  <br>
    <div class="col-sm-6">
      <!--Language type header-->
      <h3 style="color: white; font-size:300%">SQL Practice Questions</h3>
      <br>
      <!--Questions for specific language-->
      <ul class="menu-questions" style="text-align:left; color:#FFFFFF; font-size:200%">
        <li><a href="#sql1" data-toggle="collapse" class="link-color">What is RDBMS?</a></li>
        <div id="sql1" class="collapse">
        <p> RDBMS stands for Relational Database Management System. RDBMS store
           the data into the collection of tables, which is related by common
           fields between the columns of the table. It also provides relational
           operators to manipulate the data stored into the tables.
        </p></div>
        <br>

         <li><a href="#sql2" data-toggle="collapse" class="link-color">What is a unique key?</a></li>
         <div id="sql2" class="collapse">
         <p>A Unique key constraint uniquely identified each record in the
           database. This provides uniqueness for the column or set of columns.<br>
           A Primary key constraint has automatic unique constraint defined on
           it. But not, in the case of Unique Key.  There can be many unique
           constraint defined per table, but only one Primary key constraint
           defined per table.
         </p></div>
         <br>

        <li><a href="#sql3" data-toggle="collapse" class="link-color">What is normalization?</a></li>
         <div id="sql3" class="collapse">
        <p>Normalization is the process of minimizing redundancy and dependency
          by organizing fields and table of a database. The main aim of Normalization
          is to add, delete or modify field that can be made in a single table.
        </p></div>
        <br>

        <li class="active"><a href="/interviewtipsstudent" class="link-color">Back to interview tips</a></li>
       </ul>
    </div>
    <!--Language type logo-->
      <div class="col-sm-6"><img src="static/mysql.png" class="img-rounded" alt="SQL logo" width="500" height="450">
    </div>
  </div>
 </body/>
</html>
